@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pixels-per-inch: 40.097;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: white;
}